<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% decks.each do |deck| %>
      <%= erb :_deck_item_partial, layout: false, locals: {deck: deck} %>
    <% end %>
  </tbody>
</table>