
<div class="col-lg-10 col-lg-offset-1">
  <h1>Choose your deck!</h1>

  <p>Here are the decks to choose from: </p>
  
  <%= erb :_decks_partial, layout: false, locals: {decks: @decks} %>
  
  <button id="newDeck" class="btn btn-default">New deck</button>
</div>

