<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <h1>Choose your deck!</h1>

    <p>Here are the decks to choose from: </p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @decks.each do |deck| %>
          <tr>
            <td><%= deck.id %></td>
            <td><%= deck.name %></td>
            <td><a class="btn btn-default btn-xs" href=<%= "/decks/#{deck.id}/add_cards" %>>Add cards</a></td>
            <td><a class="btn btn-success btn-xs" href=<%= "/start_game/#{deck.id}" %>>Start game</a></td>
          </tr>
        <% end %>
      </tbody>

    </table>
    <a href="/decks/new">Create a new deck</a>
  </div>
</div>
