<h1>Choose your deck!</h1>

<p>Here are the decks to choose from: </p>

<form action='/(index??)' method="post">
  <select name="deck_choice">
    <% (Deck).each do |deck| %>
      <option value=<%= deck.id %>><%= deck.name %></option>
    <% end %>
    <br><input type="submit" value="Submit">
  </select>
</form>
