<h1>Choose your deck!</h1>

<p>Here are the decks to choose from: </p>

    <% @decks.each do |deck| %>
      <a href=<%= "/start_game/#{deck.id}" %>> <%= deck.id %>>: <%= deck.name %></a>
    <% end %>

<form class="home" action="/" align="right" method="get">
  <input type="submit" value="Home">
</form>

