<h3>Play the game here</h3>


  <form action="/guess" method="post">
   <% @current_card.description%>
    <input type="text" name="guess[input]" placeholder="guess">
    <input type="hidden" name="round_id" value=<%= @round_id %>>
    <input type="hidden" name="guess[card_id]" value=<%= @current_card.id %>>
    <input type="submit" value="Submit">
  </form>


<form class="logout" method="get" action="/sign_out">
  <input type="submit" value="Quit and Logout">
</form>
