<h3>Play the game here</h3>


  <form class="card_display" action="/??" method="post">
   <!--  <% @deck %> -->
    <input type="text" placeholder="Guess CHUMP!">
    <input type="submit" value="Submit">
  </form>


<form class="logout" method="get" action="/sign_out">
  <input type="submit" value="Quit and Logout">
</form>
