<h3>Play the game here</h3>


  <form action="/guess" method="post">
   <%= @current_card.description%><br>
    <input type="text" name="guess[input]" placeholder="guess">
    <input type="hidden" name="round_id" value=<%= @round_id %>>
    <input type="hidden" name="guess[card_id]" value=<%= @current_card.id %>>
    <input type="submit" value="Submit">
  </form>


<form class="logout" action="/stats" align="right" method="get">
  <input type="submit" value="End Round">
</form>
