  <h1>Welcome to McFlashy Flashcards!</h1>

  <h2>Sign in or Create new user:</h2>

  <form class="login" method="post" action="/login">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">

    <input type="submit" value="LOG IN!">
  </form>

  <form class="sign_up" method="post" action="/sign_up">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">

    <input type="submit" value="SIGN UP!">
  </form>
 
