  <h1>Welcome to McFlashy Flashcards!</h1>

  <h2>Sign in or Create new user:</h2>

  <form class="login" method="get" action="/login">
    Email: <input type="email">
    Password: <input type="password">

    <input type="submit" value="LOG IN, FOOL!">
  </form>

 
