<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/bootstrap.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <a class="navbar-brand" href="#">McFlashy</a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/choose_deck">Decks</a></li>
        <li><a href="/sign_out" id="logout">Logout</a></li>
      </ul>
        <form class="form-inline pull-right login_form" method="post" action="/login">
          <input class="form-control" type="email" name="email" placeholder="Email" style="width:175px">
          <input class="form-control" type="password" name="password" placeholder="Password" style="width:175px">

          <button class="btn btn-default" type="submit"> Sign in </button>
        </form>
    </div>
  </div>
  <div id="content_container" class="container panel">
    <%= yield %>
  </div>
</body>
</html>
