
<div class="col-lg-6 col-lg-offset-3 well">
  <h3 style="margin:0"><%= @outcome %></h3>
  <p>The answer is: <%= @current_card.term %></p>
  <a class="btn btn-default" href=<%= "/display_card/#{@current_round.id}" %> id="nextCard"> Next card! </a>
  <button class="btn btn-danger" id="quitRound" data-round=<%= @current_round.id %>>Quit round</button>
</div>


