
<form class="logout" action="/sign_out" align="right" method="get">
  <input type="submit" value="Log Out">
</form>

<form class="home" action="/" align="right" method="get">
  <input type="submit" value="Home">
</form>
