<h3>Great Game <% "#{user.first_name}" %></h3>

<p>You guessed (number) true and (number) false.</p>
<p>That is (true_guesses / (true_guesses + false_guesses))%.</p>
<!-- <% true_guesses %> <% false_guesses %>-->


<form class="logout" action="/sign_out" align="right" method="get">
  <input type="submit" value="Log Out">
</form>
